.service {
  max-width: 320px;
  padding: 40px;
  background-color: var(--black);
  border-radius: 20px;
  color: var(--white);
  min-height: 270px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.service:hover {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.service.light {
  background-color: var(--light-grey);
  color: var(--black);
}

.service span {
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
}

.service span.light {
  background-color: var(--black);
}

.service h4 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}

.service p {
  font-size: 14px;
  line-height: 23px;
}
