section.let-talk {
  background-image: url('../../images/cta.png');
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 50px;
}

section.let-talk h3 {
  color: var(--white);
  font-size: 40px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  section.let-talk h3 {
    font-size: 30px;
  }
}

section.let-talk button {
  background: transparent;
  border-radius: 23px;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 3px 10px;
  cursor: pointer;
}
