section.team {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.team h3 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

section.team .team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}

section.team .team__card {
  position: relative;
}

section.team .team__card img {
  border-radius: 20px;
  max-width: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

section.team .team__card .team__card-socials {
  position: absolute;
  top: 4%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section.team .team__card .team__card-socials > span {
  background-color: var(--white);
  padding: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
