section.error {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
section.error h1 {
  margin-bottom: 30px;
}
section.error button {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
